@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

/*CSS Custom Variable Root*/
:root {
  --mainBlue: #121AB5;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffaa00;
}

body {
  font-family: 'Fira Sans', sans-serif !important;
  background: var(--mainWhite);
  color: var(--mainDark) !important;
} 

.text-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.text-bright {
  color: var(--lightBlue);
}

.cart-icon {
  cursor: pointer; font-size: 1.2rem; color: var(--mainYellow);
}